.title-box {
    display: flex;
    position: relative;
    text-align: center;
}

  .title-text {
    /* background-image: url(egyptImages/camel2.jpg); */
    background-size: cover;
    /* background-color: black; */
    flex: flex;
    text-align: left;
    font-size: 100px;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 60px;
    border: solid white 3px;
    padding-top: 0px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0px;
    /* opacity: .7; */
  }

  .sub-title {
    flex: flex;
    font-size: 10px;
    color: white;
    text-align: center;
    margin-top: 0px;
  }