.title-box {
    display: flex;
    position: relative;
    text-align: center;
}

  .title-text {
    /* background-image: url(egyptImages/egyptFlag.jpeg); */
    background-size: cover;
    flex: flex;
    text-align: left;
    font-size: 100px;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 60px;
    border: solid white 3px;
    padding: 0px 25px 25px;
    /* opacity: .8; */
  }

  .sub-title {
    flex: flex;
    font-size: 10px;
    color: white;
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 6em;
  }