footer {
  border-top: 2px solid #9a0606;
  text-align: center;
  position: relative;
  height:1em;   /* Height of the footer */
  bottom:0;
  width:100%;
  padding: 2em;
  color: #ec4c4c;
}

.footer-bottom{
  margin-top: 10%;
}